<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="text-3xl font-bold mb-8">Weather Station Monitor</h1>
    
    <div class="mt-10">

    </div>
  </div>
</div>
